@using Social.NetWork.Dominio;
@model Comentario;
@if (!String.IsNullOrEmpty(ViewBag.Mensaje))
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
    </div>
}

<h1 id="h1Publicaciones">Publicaciones: </h1>
<form method="post" action="~/Index/VerPublicacionesFilt">
    <input type="text" placeholder="titulo" name="valorTitulo" />
    <input type="number" placeholder="VA" name="valorVA" />
    <button type="submit">
        Buscar
    </button>
</form>

@foreach (Post unPost in Sistema.Instancia.GetPosts())
{
    Miembro miembroTemp = Sistema.Instancia.GetUsuario(Context.Session.GetString("usuarioLogueado"));
    if (unPost.estado.Equals(EstadoPost.PUBLICO) || unPost.autor.EsAmigoDe(miembroTemp) || unPost.autor.GetEmail().Equals(Context.Session.GetString("usuarioLogueado")))
    {
        if (unPost.estadoAdmin == Dominio.EstadoAdmin.NO_BANEADO)
        {
            int idPost = unPost.id;
            string imagen = unPost.imagen;
            string autor = unPost.autor.nombre;
            string contenido = unPost.GetContenido();
            string titulo = unPost.GetTitulo();
            string fechaPublicacion = unPost.fecha.ToString("yyyy-MM-dd HH:mm:ss");

            <div class="card mb-4" style="max-width: 500px; height: auto;">
                <img class="img-thumbnail card-img-top" src="~/imagenes/fotos/@unPost.imagen" style="max-width: 500px; height: auto; text-align: center;" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">@titulo</h5>
                    <p class="card-text">@contenido</p>
                    <p class="card-text"><small class="text-muted">@fechaPublicacion</small></p>
                </div>
                <div class="card-body divScroll">
                    @foreach (Comentario comentario in unPost.GetComentarios())
                    {
                        if (comentario.estadoAdmin == Dominio.EstadoAdmin.NO_BANEADO)
                        {
                            string autorComentario = comentario.autor.nombre;
                            string tituloComentario = comentario.GetTitulo();
                            string contenidoComentario = comentario.GetContenido();
                            string fechaComentario = comentario.fecha.ToString("yyyy-MM-dd HH:mm:ss");

                            <br>
                            <hr>
                            <h5 class="card-text">Usuario: @autorComentario</h5>
                            <h5 class="card-text">Titulo: @tituloComentario</h5>
                            <p class="card-text"><small class="text-muted">Fecha: @fechaComentario</small></p>
                            <p class="card-text">Comentario: @contenidoComentario</p>
                            <p>
                                Valor de aceptacion: @comentario.valorDeAceptacion
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="like">
                                    <form action="~/Reacciones/ComentarioMeGusta" method="post">
                                        <input type="hidden" value="@comentario.id" name="idComentario" />
                                        <label>@comentario.likes</label>
                                        <button id="like" style="background-color: lightgreen">
                                            <span class="material-symbols-outlined">
                                                thumb_up
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div class="dislike">
                                    <form action="~/Reacciones/ComentarioNoMeGusta" method="post">
                                        <input type="hidden" value="@comentario.id" name="idComentario" />
                                        <label>@comentario.dislikes</label>
                                        <button id="dislike" style="background-color: lightcoral">
                                            <span class="material-symbols-outlined">
                                                thumb_down
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                        }
                        else
                        {
                            string autorComentario = comentario.autor.nombre;
                            string tituloComentario = comentario.GetTitulo();
                            string contenidoComentario = comentario.GetContenido();
                            string fechaComentario = comentario.fecha.ToString("yyyy-MM-dd HH:mm:ss");
                            <hr>
                            <br>
                            <h4>@comentario.estadoAdmin</h4>
                            <h5 class="card-text">Usuario: @autorComentario</h5>
                            <h5 class="card-text">Titulo: @tituloComentario</h5>
                            <p class="card-text"><small class="text-muted">Fecha: @fechaComentario</small></p>
                            <p class="card-text">Comentario: @contenidoComentario</p>
                            <p>
                                Valor de aceptacion: @comentario.valorDeAceptacion
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="like">
                                    <form action="~/Reacciones/ComentarioMeGusta" method="post">
                                        <input type="hidden" value="@comentario.id" name="idComentario" />
                                        <label>@comentario.likes</label>
                                        <button id="like" style="background-color: lightgreen" disabled>
                                            <span class="material-symbols-outlined">
                                                thumb_up
                                            </span>
                                        </button>
                                    </form>
                                </div>
                                <div class="dislike">
                                    <form action="~/Reacciones/ComentarioNoMeGusta" method="post">
                                        <input type="hidden" value="@comentario.id" name="idComentario" />
                                        <label>@comentario.dislikes</label>
                                        <button id="dislike" style="background-color: lightcoral" disabled>
                                            <span class="material-symbols-outlined">
                                                thumb_down
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <hr>
                        }

                    }
                </div>
                <div class="d-flex justify-content-center">
                    <div class="like">
                        <form action="~/Reacciones/MeGusta" method="post">
                            <input type="hidden" value="@idPost" name="idPost" />
                            <label>@unPost.likes</label>
                            <button id="like" style="background-color: lightgreen">
                                <span class="material-symbols-outlined">
                                    thumb_up
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="dislike">
                        <form action="~/Reacciones/NoMeGusta" method="post">
                            <input type="hidden" value="@idPost" name="idPost" />
                            <label>@unPost.dislikes</label>
                            <button id="dislike" style="background-color: lightcoral">
                                <span class="material-symbols-outlined">
                                    thumb_down
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <form action="~/PublicarComentario/PublicarComentario" method="post" style="text-align:center">
                    <div class="form-group" style="text-align: center;">
                        <p>
                            Valor de aceptacion: @unPost.valorDeAceptacion
                        </p>
                        <br>
                        <label for="exampleFormControlInputText">Titulo: </label>
                        <input class="form-control" type="text" id="exampleFormControlInputText" name="titulo" placeholder="Titulo...">
                        <label for="exampleFormControlTextarea1">Comentario: </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="contenido" placeholder="Comentar..."></textarea>
                        <br>
                        <input type="submit" value="Comentar">
                        <input type="hidden" value="@idPost" name="idPost" />
                    </div>
                </form>
            </div>
        }
        else if (unPost.estadoAdmin == Dominio.EstadoAdmin.BANEADO)
        {
            int idPost = unPost.id;
            string imagen = unPost.imagen;
            string autor = unPost.autor.nombre;
            string contenido = unPost.GetContenido();
            string titulo = unPost.GetTitulo();
            string fechaPublicacion = unPost.fecha.ToString("yyyy-MM-dd HH:mm:ss");

            <div class="card mb-4" style="max-width: 500px; height: auto;">
                <img class="img-thumbnail card-img-top" src="~/imagenes/fotos/@unPost.imagen" style="max-width: 500px; height: auto; text-align: center;" />
                <div class="card-body">
                    <h1>POST BANEADO</h1>
                    <h5 class="card-title" style="text-align: center;">@titulo</h5>
                    <p class="card-text">@contenido</p>
                    <p class="card-text"><small class="text-muted">@fechaPublicacion</small></p>
                </div>
                <div class="card-body divScroll">
                    @foreach (Comentario comentario in unPost.GetComentarios())
                    {
                        string autorComentario = comentario.autor.nombre;
                        string tituloComentario = comentario.GetTitulo();
                        string contenidoComentario = comentario.GetContenido();
                        string fechaComentario = comentario.fecha.ToString("yyyy-MM-dd HH:mm:ss");

                        <br>
                        <h5 class="card-text">Usuario: @autorComentario</h5>
                        <h5 class="card-text">Titulo: @tituloComentario</h5>
                        <p class="card-text"><small class="text-muted">Fecha: @fechaComentario</small></p>
                        <p class="card-text">Comentario: @contenidoComentario</p>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <p>
                                Valor de aceptacion: @comentario.valorDeAceptacion
                            </p>
                            <br>
                            <div class="like">
                                <form action="~/Reacciones/ComentarioMeGusta" method="post">
                                    <input type="hidden" value="@comentario.id" name="idComentario" />
                                    <label>@comentario.likes</label>
                                    <button id="like" style="background-color: lightgreen">
                                        <span class="material-symbols-outlined">
                                            thumb_up
                                        </span>
                                    </button>
                                </form>
                            </div>
                            <div class="dislike">
                                <form action="~/Reacciones/ComentarioNoMeGusta" method="post">
                                    <input type="hidden" value="@comentario.id" name="idComentario" />
                                    <label>@comentario.dislikes</label>
                                    <button id="dislike" style="background-color: lightcoral">
                                        <span class="material-symbols-outlined">
                                            thumb_down
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-center">
                    <div class="like">
                        <form action="~/Reacciones/MeGusta" method="post">
                            <input type="hidden" value="@idPost" name="idPost" />
                            <label>@unPost.likes</label>
                            <button id="like" style="background-color: lightgreen" disabled>
                                <span class="material-symbols-outlined">
                                    thumb_up
                                </span>
                            </button>
                        </form>
                    </div>
                    <div class="dislike">
                        <form action="~/Reacciones/NoMeGusta" method="post">
                            <input type="hidden" value="@idPost" name="idPost" />
                            <label>@unPost.dislikes</label>
                            <button id="dislike" style="background-color: lightcoral" disabled>
                                <span class="material-symbols-outlined">
                                    thumb_down
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <form action="~/PublicarComentario/PublicarComentario" method="post">
                    <div class="form-group" style="text-align: center;">
                        <br>
                        <label for="exampleFormControlInputText">Titulo: </label>
                        <input class="form-control" type="text" id="exampleFormControlInputText" name="titulo" placeholder="Titulo...">
                        <label for="exampleFormControlTextarea1">Comentario: </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="contenido" placeholder="Comentar..."></textarea>
                        <br>
                        <input type="submit" value="Comentar" disabled>
                        <input type="hidden" value="@idPost" name="idPost" />
                    </div>
                </form>
            </div>
        }
    }
}